<%- include("partials/header.ejs") %>
<h1>My BLOGBUSTER📔</h1>
<div id="posts-section">
  <!-- Links -->
  <div id="posts-links">
    <ul>
      <li id="link-to-main"><a href="/">Return home</a></li>
      <% if(locals.posts) { posts.forEach(post => { %>
        <li>
          <a href="#user-output-<%= post.id %>"><%= post.subject %></a>
        </li>
      <% });} %>
    </ul>
  </div>
  <!-- Posts -->
  <div id="posts-bodies">
    <% if(locals.posts.length !== 0) { posts.forEach(post => { %>
      <div class="user-output" id="user-output-<%= post.id %>">
        <h2>What did <span id="post-username"><%= post.username %></span> say?</h2>
        <p id="post-topic">Topic: <span><%= post.topic %></span></p>
        <p id="post-date"><%= post.date %></p>
        <h3><%= post.subject %></h3>
        <p id="post-content"><%= post.post %></p>
        <a id="edit-btn" href="/posts/edit/<%= post.id %>">Edit</a>
        <a id='delete-btn' href="/posts/delete/<%= post.id %>">Delete</a>
      </div>
    <% }); %>
    <% } else { %>
      <h4>No posts yet</h4>
    <% } %>
  </div>
</div>
<%- include("partials/footer.ejs") %>